@page
@model NFLWebApp.Pages.Runningbacks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Runningback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Runningback.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Runningback.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Runningback.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Runningback.Team)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Runningback.Touchdowns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Runningback.Touchdowns)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Runningback.Yards)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Runningback.Yards)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Runningback.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
