@page
@model NFLWebApp.Pages.Quarterbacks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quarterbacks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quarterback[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarterback[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarterback[0].Touchdowns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarterback[0].Yards)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quarterback) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Touchdowns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yards)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
